<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="comments-mapper">
	<resultMap id="comments-ratingSet" type="movieRating">
		<result column="RATING" property="rating"/>
		
	</resultMap>
	<resultMap id="commentsListView" type="comments">
		<result column="COMMENT_NO" property="commentNo"/>
		<result column="COMMENT_CONTENT" property="commentContent"/>
		<result column="COMMENT_ENROLLDATE" property="commentEnrollDate"/>
		<result column="SPOILER" property="spoiler"/>
		<result column="MOVIE_TITLE" property="movieTitle"/>
		<result column="MOVIE_YEAR" property="movieYear"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="COMMENT_REPORT" property="commentReport"/>

	</resultMap>
	<resultMap id="tess1" type="member">
		<result column="NICK_NAME" property="memberNickname"/>
	</resultMap>
	
	<resultMap id="commentsLike" type="commentsLike">
		<result column="COMMENT_NO" property="commentNo"/>
		<result column="COMMENT_LIKE" property="commentLike"/>
		<result column="COMMENT_DISLIKE" property="disLike"/>
	</resultMap>
	
	<select id="checkMyCommentExit" parameterType="Comments" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
			   COMMENTS
	     WHERE
		      MOVIE_TITLE = #{movieTitle}
		   AND
		      MOVIE_YEAR = #{movieYear}
		   AND
		      MEMBER_NO = #{memberNo}
		   AND
		      STATUS = 'Y'	  
	
	</select>
	
	
	
	<select id="ratingGet" resultType="_double" parameterType="MovieRating">
		SELECT
		      NVL(ROUND(SUM(RATING)/COUNT(*),1),0)
		  FROM
		      MOVIE_RATING
		 WHERE
		      MOVIE_TITLE = #{movieTitle}
		   AND
		      MOVIE_YEAR = #{movieYear}
	</select>
	<insert id="ratingCheck" parameterType="MovieRating">
		INSERT
		  INTO
		      MOVIE_RATING
		      (
		      MEMBER_NO,
		      RATING,
		      MOVIE_TITLE,
		      MOVIE_YEAR
		      )
		  VALUES
		  	  (
		  	  #{memberNo},
		  	  #{rating},
		  	  #{movieTitle},
		  	  #{movieYear}
		  	  )
		  
	</insert>
	<update id="ratingUpdate" parameterType="MovieRating">
		UPDATE
			  MOVIE_RATING
		   SET
		      RATING=#{rating}
		 WHERE
		      MOVIE_TITLE=#{movieTitle}
		   AND
		      MOVIE_YEAR=#{movieYear}
		   AND
		      MEMBER_NO=#{memberNo}
			  
	</update>
	<!--  
	<select id="commentsList" parameterType="Comments" resultMap="commentsListView">
		SELECT
		      COMMENT_NO,
		      COMMENT_CONTENT,
		      COMMENT_ENROLLDATE,
		      SPOLER,
		      COMMENT_REPORT,
		      MOVIE_TITLE,
		      MOVIE_YEAR,
		      MEMBER_ID
		  FROM
		      COMMENTS 
		  JOIN 
		  	  MEMBER 
		 USING 
		 	  (MEMBER_NO)
		 WHERE
		      STATUS='Y'
		  AND
		     MOVIE_TITLE=#{movieTitle}
		  AND
		     MOVIE_YEAR=#{movieYear} 
	</select>
	-->
	<select id="commentsList" parameterType="Comments" resultType="hashmap">
		SELECT
			  MEMBER_NO,
		      COMMENT_NO,
		      C.COMMENT_CONTENT,
		      TO_CHAR(C.COMMENT_ENROLLDATE,'YYYY-MM-DD') "COMMENTENROLLDATE",
		      C.SPOILER,
		      C.COMMENT_REPORT,
		      C.MOVIE_TITLE,
		      C.MOVIE_YEAR,
		      M.NICK_NAME,
              L.COMMENT_LIKE,
              L.COMMENT_DISLIKE,
              R.RATING
		  FROM
		      COMMENTS C
		  JOIN 
		  	  MEMBER M
		 USING 
		 	  (MEMBER_NO)
         JOIN
              (SELECT
                     COUNT(CASE WHEN COMMENT_LIKE='Y' THEN 1 END) COMMENT_LIKE,
                     COUNT(CASE WHEN COMMENT_DISLIKE='Y' THEN 1 END) COMMENT_DISLIKE,
                     COMMENT_NO
                 FROM
                     COMMENT_LIKE
             GROUP BY 
                     COMMENT_NO) L             
       USING
            (COMMENT_NO)
       JOIN
            MOVIE_RATING R
       USING
            (MEMBER_NO)    
       WHERE
            C.STATUS='Y'
         AND
            C.MOVIE_TITLE=#{movieTitle}
         AND
            C.MOVIE_YEAR=#{movieYear}
         AND
            ROWNUM &lt; 4
    ORDER BY
            L.COMMENT_LIKE DESC 
		  
	</select>
	<insert id="commentsWrite" parameterType="Comments">
		<!-- 
		INSERT
		  INTO
		      COMMENTS
		      (
		      COMMENT_NO,
		      COMMENT_CONTENT,		      
		      SPOILER,
		      MOVIE_TITLE,
		      MOVIE_YEAR,
		      MEMBER_NO
		      )
		VALUES
			  (
			  SEQ_COMNO.NEXTVAL,
			  #{commentContent},			  
			  #{spoiler},
			  #{movieTitle},
			  #{movieYear},
			  #{memberNo}
			  )
		 -->
		 INSERT ALL  
		 	INTO 
		      COMMENTS 
		      (
		      COMMENT_NO,
		      COMMENT_CONTENT,		      
		      SPOILER,
		      MOVIE_TITLE,
		      MOVIE_YEAR,
		      MEMBER_NO
		      )
		VALUES
			  (
			  SEQ_COMNO.NEXTVAL,
			  #{commentContent},			  
			  #{spoiler},
			  #{movieTitle},
			  #{movieYear},
			  #{memberNo}
			  )
		  INTO 
			  COMMENT_LIKE 
			  (COMMENT_WRITER,
			  COMMENT_LIKE,
			  COMMENT_DISLIKE,
			  COMMENT_NO
			  ) 
		VALUES
			  (
			  #{memberNo},
			  'N',
			  'N',
			  SEQ_COMNO.CURRVAL
			  )
			SELECT 
			  	  * 
			  FROM 
			  	  DUAL
		    
	</insert>
	<update id="thumbsUp" parameterType="CommentsLike">
		UPDATE
		      COMMENT_LIKE
		  SET
		      COMMENT_LIKE = #{commentLike},
		      COMMENT_DISLIKE = 'N'
		WHERE
		 	 COMMENT_NO=#{commentNo}
		 AND
		     COMMENT_WRITER=#{commentWriter} 
		     
		  	  
	</update>
	<update id="thumbsDown" parameterType="CommentsLike">
		UPDATE
		      COMMENT_LIKE
		  SET
		      COMMENT_LIKE = 'N',
		      COMMENT_DISLIKE = #{disLike}
		WHERE
		 	 COMMENT_NO=#{commentNo}
		  AND
		     COMMENT_WRITER=#{commentWriter}
	
	</update>
	<insert id="thumbsUpCreate" parameterType="CommentsLike">
		INSERT
		  INTO
		      COMMENT_LIKE
		      (
		      COMMENT_WRITER,
		      COMMENT_LIKE,
		      COMMENT_DISLIKE,
		      COMMENT_NO
		      )
		VALUES
			  (
			  #{commentWriter},
			  'Y',
			  'N',
			  #{commentNo}
			  )     
	</insert>
	<insert id="thumbsDownCreate" parameterType="CommentsLike">
		INSERT
		  INTO
		      COMMENT_LIKE
		      (
		      COMMENT_WRITER,
		      COMMENT_LIKE,
		      COMMENT_DISLIKE,
		      COMMENT_NO
		      )
		VALUES
			  (
			  #{commentWriter},
			  'N',
			  'Y',
			  #{commentNo}
			  )     
	</insert>
	
	<select id="showCommentsLike" parameterType="Comments" resultMap="commentsLike">
		SELECT 
		      COMMENT_NO,
		      COMMENT_LIKE,
			  COMMENT_DISLIKE
		  FROM
		      COMMENT_LIKE
		 WHERE
		      COMMENT_WRITER = #{memberNo}
		   AND
		      COMMENT_NO IN (SELECT
		                          COMMENT_NO
		                      FROM
		                          COMMENTS
		                     WHERE
		                          MOVIE_TITLE=#{movieTitle}
		                       AND
		                          MOVIE_YEAR=#{movieYear} )
		 ORDER BY 
		          COMMENT_LIKE DESC 
	
	</select>
	
	<select id="getMyComments" parameterType="Comments" resultMap="commentsListView">
		<!--  
		SELECT
		      COMMENT_CONTENT,
			  SPOILER
		  FROM
		      COMMENTS
		 WHERE 
		      STATUS = 'Y'
	       AND
	          MOVIE_TITLE = #{movieTitle}
	       AND
			  MOVIE_YEAR = #{movieYear}
	       AND
			  MEMBER_NO = #{memberNo}
		-->
		SELECT
			  MEMBER_NO,
		      COMMENT_NO,
		      C.COMMENT_CONTENT,
		      TO_CHAR(C.COMMENT_ENROLLDATE,'YYYY-MM-DD') "COMMENTENROLLDATE",
		      C.SPOILER,
		      C.COMMENT_REPORT,
		      C.MOVIE_TITLE,
		      C.MOVIE_YEAR,
		      M.NICK_NAME,
              L.COMMENT_LIKE,
              L.COMMENT_DISLIKE,
              R.RATING
		  FROM
		      COMMENTS C
		  JOIN 
		  	  MEMBER M
		 USING 
		 	  (MEMBER_NO)
         JOIN
              (SELECT
                     COUNT(CASE WHEN COMMENT_LIKE='Y' THEN 1 END) COMMENT_LIKE,
                     COUNT(CASE WHEN COMMENT_DISLIKE='Y' THEN 1 END) COMMENT_DISLIKE,
                     COMMENT_NO
                 FROM
                     COMMENT_LIKE
             GROUP BY 
                     COMMENT_NO) L             
       USING
            (COMMENT_NO)
       JOIN
            MOVIE_RATING R
       USING
            (MEMBER_NO)    
       WHERE
            C.STATUS='Y'
         AND
            C.MOVIE_TITLE=#{movieTitle}
         AND
            C.MOVIE_YEAR=#{movieYear}     
         AND
            MEMBER_NO = #{memberNo}    
    ORDER BY
            L.COMMENT_LIKE DESC	       
	</select>
	<update id="reviseMyComments" parameterType="Comments">
		UPDATE
			  COMMENTS
		   SET
		      COMMENT_CONTENT =#{commentContent},
		      COMMENT_ENROLLDATE = SYSDATE,
		      SPOILER = #{spoiler}
		 WHERE
		      MOVIE_TITLE = #{movieTitle}
		   AND
		      MOVIE_YEAR = #{movieYear}
		   AND
		      MEMBER_NO = #{memberNo}
	</update>
	<update id="deleteMyComments" parameterType="Comments">
		UPDATE 
		      COMMENTS
		   SET
		      STATUS = 'N'
		  WHERE
		      MOVIE_TITLE = #{movieTitle}
		   AND
		      MOVIE_YEAR = #{movieYear}
		   AND
		      MEMBER_NO = #{memberNo} 
	</update>
	
	<select id="selectCommentsCount" parameterType="Comments" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      COMMENTS
		 WHERE
		      MOVIE_TITLE = #{movieTitle}
		   AND
		      MOVIE_YEAR = #{movieYear}
		   AND
		      STATUS = 'Y'
	
	</select>
	
	<select id="selectCommentsListAll" parameterType="Comments" resultType="hashmap">
		SELECT
			  MEMBER_NO,
		      COMMENT_NO,
		      C.COMMENT_CONTENT,
		      TO_CHAR(C.COMMENT_ENROLLDATE,'YYYY-MM-DD') "COMMENTENROLLDATE",
		      C.SPOILER,
		      C.COMMENT_REPORT,
		      C.MOVIE_TITLE,
		      C.MOVIE_YEAR,
		      M.NICK_NAME,
              L.COMMENT_LIKE,
              L.COMMENT_DISLIKE,
              R.RATING
		  FROM
		      COMMENTS C
		  JOIN 
		  	  MEMBER M
		 USING 
		 	  (MEMBER_NO)
         JOIN
              (SELECT
                     COUNT(CASE WHEN COMMENT_LIKE='Y' THEN 1 END) COMMENT_LIKE,
                     COUNT(CASE WHEN COMMENT_DISLIKE='Y' THEN 1 END) COMMENT_DISLIKE,
                     COMMENT_NO
                 FROM
                     COMMENT_LIKE
             GROUP BY 
                     COMMENT_NO) L             
       USING
            (COMMENT_NO)
       JOIN
            MOVIE_RATING R
       USING
            (MEMBER_NO)    
       WHERE
            C.STATUS='Y'
         AND
            C.MOVIE_TITLE=#{movieTitle}
         AND
            C.MOVIE_YEAR=#{movieYear}         
    ORDER BY
            L.COMMENT_LIKE DESC 
	</select>
	
	<select id="getMyComment" parameterType="Comments" resultType="hashmap">
	SELECT
			  MEMBER_NO,
		      COMMENT_NO,
		      C.COMMENT_CONTENT,
		      TO_CHAR(C.COMMENT_ENROLLDATE,'YYYY-MM-DD') "COMMENTENROLLDATE",
		      C.SPOILER,
		      C.COMMENT_REPORT,
		      C.MOVIE_TITLE,
		      C.MOVIE_YEAR,
		      M.NICK_NAME,
              L.COMMENT_LIKE,
              L.COMMENT_DISLIKE,
              R.RATING
		  FROM
		      COMMENTS C
		  JOIN 
		  	  MEMBER M
		 USING 
		 	  (MEMBER_NO)
         JOIN
              (SELECT
                     COUNT(CASE WHEN COMMENT_LIKE='Y' THEN 1 END) COMMENT_LIKE,
                     COUNT(CASE WHEN COMMENT_DISLIKE='Y' THEN 1 END) COMMENT_DISLIKE,
                     COMMENT_NO
                 FROM
                     COMMENT_LIKE
             GROUP BY 
                     COMMENT_NO) L             
       USING
            (COMMENT_NO)
       JOIN
            MOVIE_RATING R
       USING
            (MEMBER_NO)    
       WHERE
            C.STATUS='Y'
         AND
            C.MOVIE_TITLE=#{movieTitle}
         AND
            C.MOVIE_YEAR=#{movieYear}         
    ORDER BY
            L.COMMENT_LIKE DESC 
	
	</select>
</mapper>