<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">
	<resultMap id="comments" type="com.kh.seeReal.comments.model.vo.Comments">
		<result column="comment_no" property="commentNo" />
		<result column="comment_content" property="commentContent" />
		<result column="comment_enrollDate" property="commentEnrollDate" />
		<result column="spoiler" property="spoiler" />
		<result column="comment_report" property="commentReport" />
		<result column="movie_title" property="movieTitle" />
		<result column="movie_year" property="movieYear" />
		<result column="member_photo" property="memberPhoto"/>
		<result column="status"     property="status" />
		<result column="member_no"  property="memberNo" />
	</resultMap>
	
	<resultMap id="comment_like" type="com.kh.seeReal.comments.model.vo.CommentsLike">
		<result column="comment_like"   property="commentLike" />
		<result column="comment_writer" property="commentWriter"/>
	</resultMap>

	<resultMap id="movie_rating" type="com.kh.seeReal.comments.model.vo.MovieRating">
		<result column="member_no" property="memberNo" />	
		<result column="rating"    property="rating" />	
		<result column="movie_title"    property="movieTitle" />	
		<result column="movie_year"    property="movieYear" />	
		<result column="comment_no"    property="commentNo" />	
		<result column="count"    property="count" />	
	</resultMap>
	
	<resultMap id="member" type="com.kh.seeReal.member.model.vo.Member">
		<result column="member_no"       property="memberNo" /> 
		<result column="nick_name" property="memberNickname" />
		<result column="member_photo"       property="memberPhoto" /> 
		<result column="member_photo"    property="memberPhoto" />
	</resultMap>
	
	<resultMap id="star" type="com.kh.seeReal.member.model.vo.Star">
		<result column="starHalf" property="starHalf"/>
		<result column="star1" property="star1"/>
		<result column="star1Half" property="star1Half"/>
		<result column="star2" property="star2"/>
		<result column="star2Half" property="star2Half"/>
		<result column="star3" property="star3"/>
		<result column="star3Half" property="star3Half"/>
		<result column="star4" property="star4"/>
		<result column="star4Half" property="star4Half"/>
		<result column="star5" property="star5"/>
	</resultMap>
	
	
	<select id="selectCommentsCount" resultType="_int">
		select count(*)
		  from comments
		 where member_no = #{memberNo}
		   and status='Y'
	</select> 
	
	<select id="selectCommentsList" resultMap="comments">
		select comment_no,
			   comment_content,
			   comment_enrollDate,
		       movie_title,
			   member_no
		  from comments
		 where member_no = #{memberNo}
	</select>
	
	<select id="reviewList" resultMap="movie_rating">
		SELECT
			ROWNUM,
			T.*
		FROM
			(
			SELECT
				DISTINCT 
			c.*
			,
				(
				SELECT
					count(comment_like)
				FROM
					comment_like
				WHERE
					comment_no = #{commentNo}
					AND comment_like = 'Y'
			) AS count
			FROM
				COMMENTS c
			JOIN COMMENT_LIKE cl ON
				c.COMMENT_NO = cl.COMMENT_NO
			WHERE
				c.COMMENT_NO = #{commentNo}
				AND c.MEMBER_NO = #{memberNo}
			ORDER BY count ASC) T
	</select>
	
	<select id="ratingList" resultMap="movie_rating">
		select rating
		  from movie_rating
		 where member_no = #{memberNo}
		 order
			by
			   rating asc
	</select>

	<select id="selectMember" parameterType="_int" resultMap="member">
		select nick_name, member_photo
		  from member
		 where member_no = #{memberNo}
	</select>

	<select id="ratingYj" parameterType="_int" resultMap="movie_rating">
		select member_no
		  from movie_rating
	</select>

	<select id="star" parameterType="_int" resultMap="star">
		select rating,
		      (select count(*)
		      	 from movie_rating
		        where rating=0.5) starHalf,
		      (select count(*)
		      	 from movie_rating
		        where rating=1) star1,
		      (select count(*)
		      	 from movie_rating
		        where rating=1.5) star1Half,
		      (select count(*)
		      	 from movie_rating
		        where rating=2) star2,
		      (select count(*)
		      	 from movie_rating
		        where rating=2.5) star2Half,
		      (select count(*)
		      	 from movie_rating
		        where rating=3) star3,
		      (select count(*)
		      	 from movie_rating
		        where rating=3.5) star3Half,
		      (select count(*)
		      	 from movie_rating
		        where rating=4) star4,
		      (select count(*)
		      	 from movie_rating
		        where rating=4.5) star4Half,
		      (select count(*)
		      	 from movie_rating
		        where rating=5) star5
		  from movie_rating
		 where member_no = #{memberNo}
		   and rownum = 1
	</select>
	
	<select id="commentCount" resultMap="comments">
		select comment_no
		  from comments
		 where member_no = #{memberNo};
	</select>

</mapper>
