<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">
	<resultMap id="comments" type="com.kh.seeReal.comments.model.vo.Comments">
		<result column="comment_no" property="commentNo" />
		<result column="comment_content" property="commentContent" />
		<result column="comment_enrollDate" property="commentEnrollDate" />
		<result column="spoiler" property="spoiler" />
		<result column="comment_report" property="commentReport" />
		<result column="movie_title" property="movieTitle" />
		<result column="movie_year" property="movieYear" />
		<result column="status"     property="status" />
		<result column="member_no"  property="memberNo" />
	</resultMap>
	
	<resultMap id="comment_like" type="com.kh.seeReal.comments.model.vo.CommentsLike">
		<result column="comment_like"   property="commentLike" />
		<result column="comment_writer" property="commentWriter"/>
	</resultMap>

	<resultMap id="movie_rating" type="com.kh.seeReal.comments.model.vo.MovieRating">
		<result column="member_no" property="memberNo" />	
		<result column="rating"    property="rating" />	
		<result column="movie_title"    property="movieTitle" />	
		<result column="movie_year"    property="movieYear" />	
	</resultMap>
	
	<resultMap id="member" type="com.kh.seeReal.member.model.vo.Member">
		<result column="member_no"       property="memberNo" /> 
		<result column="nick_name" property="memberNickname" />
		<result column="member_photo"       property="memberPhoto" /> 
		<result column="member_photo"    property="memberPhoto" />
	</resultMap>
	
	
	<select id="selectCommentsCount" resultType="_int">
		select count(*)
		  from comments
		 where member_no = #{memberNo}
		   and status='Y'
	</select> 
	
	<select id="selectCommentsList" resultMap="comments">
		select comment_no,
			   comment_content,
			   comment_enrollDate,
		       movie_title,
			   member_no
		  from comments
		 where member_no = #{memberNo}
	</select>
	
	<select id="reviewList" resultMap="movie_rating">
		select movie_title, rating, comment_like
		  from movie_rating 
		  join comment_like on (member_no = comment_writer)
		 where member_no = #{memberNo}
		  order
		     by comment_like desc
	</select>
	
	<select id="ratingList" resultMap="movie_rating">
		select rating
		  from movie_rating
		 where member_no = #{memberNo}
		 order
			by
			   rating asc
	</select>

	<select id="selectMember" parameterType="_int" resultMap="member">
		select nick_name
		  from member
		 where member_no = #{memberNo}
	</select>

<!-- 	<select id="selectMemberPhoto" resultMap="member">
		select member_photo
		  from member
		  where member_no = #{memberNo}
	</select> -->



</mapper>
