<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingMapper">

	<resultMap id="meetingResultSet" type="meeting">
		<result column="MEETING_NO" property="meetingNo" />
		<result column="MEETING_TITLE" property="meetingTitle" />
		<result column="MEETING_EXP" property="meetingExp" />
		<result column="MEETING_PLACE" property="meetingPlace" />
		<result column="MEETING_PLACE_DETAIL" property="meetingPlaceDetail" />
		<result column="MOVIE_TITLE" property="movieTitle" />
		<result column="MOVIE_YEAR" property="movieYear" />
		<result column="STATUS" property="status" />
		<result column="MEETING_ENROLL" property="meetingEnrollDate" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEETING_REPORT" property="meetingReport" />
		<result column="MEETING_WRITER" property="meetingWriter" />
	</resultMap>

	<resultMap id="meetingUserResultSet" type="meetingUser">
		<result column="MEETING_NO" property="meetingNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEETING_ACCEPT" property="meetingAccept" />
		<result column="MEETING_CONTENT" property="meetingContent" />
		<result column="NICK_NAME" property="nickName" />
		<result column="MEMBER_PHOTO" property="memberPhoto" />
	</resultMap>

	<insert id="insertMeeting" parameterType="meeting">
		INSERT INTO
			MEETING
				(
				 MEETING_NO
				,MEETING_TITLE
				,MEETING_EXP
				,MEETING_PLACE
				,MEETING_PLACE_DETAIL
				,MOVIE_TITLE
				,MOVIE_YEAR
				,MEMBER_NO
				)
			VALUES
				(
				 SEQ_METNO.NEXTVAL
				,#{ meetingTitle }
				,#{ meetingExp }
				,#{ meetingPlace }
				,#{ meetingPlaceDetail }
				,#{ movieTitle }
				,#{ movieYear }
				,#{ memberNo }
				)
	
	</insert>
	

	<select id="selectMeetingListCount" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			MEETING
		WHERE
			STATUS = 'Y'
	</select>

	<select id="selectMeetingList" resultMap="meetingResultSet">
		SELECT
			MEETING_NO,
			MEETING_TITLE,
			MEETING_ENROLL,
			NICK_NAME AS MEETING_WRITER,
			MEMBER.MEMBER_NO AS MEMBER_NO
		FROM
			MEETING
		JOIN MEMBER ON
			(MEMBER.MEMBER_NO = MEETING.MEMBER_NO)
		WHERE
			MEETING.STATUS = 'Y'
	</select>
	
	<update id="increaseMeetingCount" parameterType="_int">
		UPDATE
			MEETING
		SET
			COUNT = COUNT + 1
		WHERE
			MEETING_NO = #{ mtno }
			AND STATUS = 'Y'
	</update>
	
	<select id="selectMeetingDetail" parameterType="_int" resultMap="meetingResultSet">
		SELECT 
			MEETING_NO,
			MEETING_TITLE,
			MEETING_EXP,
			MEETING_PLACE,
			MEETING_PLACE_DETAIL,
			MOVIE_TITLE,
			MOVIE_YEAR,
			MEETING_ENROLL,
			MEETING.MEMBER_NO,
			COUNT,
			NICK_NAME AS MEETING_WRITER
		FROM
			MEETING
		JOIN MEMBER ON
			(MEMBER.MEMBER_NO = MEETING.MEMBER_NO)
		WHERE
			MEETING_NO = #{ mtno }
			AND MEETING.STATUS = 'Y'
	</select>
	
	<insert id="meetingMaker" parameterType="meetingUser">
		INSERT INTO
			MEETING_USER
				(
				 MEETING_NO
				,MEMBER_NO
				,MEETING_ACCEPT
				,MEETING_CONTENT
				)
			VALUES
				(
				 SEQ_METNO.CURRVAL
				,#{ memberNo }
				,#{ meetingAccept }
				,#{ meetingContent }
				)
	</insert>

	<select id="selectMeetingMember" parameterType="_int" resultMap="meetingUserResultSet">
		SELECT 
			mu.MEMBER_NO,
			MEETING_ACCEPT,
			MEETING_CONTENT,
			m.NICK_NAME,
			m.MEMBER_PHOTO,
			MEETING_NO
		FROM
			MEETING_USER mu
		JOIN MEMBER m ON
			mu.MEMBER_NO = m.MEMBER_NO
		WHERE
			mu.MEETING_NO = #{ meetingNo }
			AND m.STATUS = 'Y'
	</select>


	<insert id="insertMeetingUser" parameterType="meetingUser">
		INSERT INTO
			MEETING_USER
				(
				 MEETING_NO
				,MEMBER_NO
				,MEETING_ACCEPT
				,MEETING_CONTENT
				)
			VALUES
				(
				 #{ meetingNo }
				,#{ memberNo }
				,'N'
				,#{ meetingContent }
				)
	</insert>
	
	<select id="checkJoinMeeting" parameterType="meetingUser" resultType="_int">
		SELECT 
			COUNT(*)
		FROM
			MEETING_USER mu
		JOIN MEMBER m ON mu.MEMBER_NO = m.MEMBER_NO 
		WHERE
			mu.MEETING_NO = #{ meetingNo }
			AND mu.MEMBER_NO = #{ memberNo } 
			AND m.STATUS = 'Y'
	</select>
	
	<update id="updateMeetingUser" parameterType="meetingUser">
		UPDATE
			MEETING_USER
		SET
			MEETING_ACCEPT = 'Y'
		WHERE
			MEETING_NO = #{ meetingNo }
			AND MEMBER_NO = #{ memberNo }
	</update>
</mapper>
