<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reportMapper">

	<resultMap id="boardResultSet" type="board">
		<result column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="count" property="count" />
		<result column="enroll_date" property="enrollDate" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="report_count" property="reportCount" />
		<result column="status" property="status" />
		<result column="board_type" property="boardType" />
		<result column="nick_name" property="nickName" />
		<result column="board_content" property="boardContent" />
	</resultMap>

	<resultMap id="meetingResultSet" type="meeting">
		<result column="MEETING_NO" property="meetingNo" />
		<result column="MEETING_TITLE" property="meetingTitle" />
		<result column="MEETING_EXP" property="meetingExp" />
		<result column="MEETING_PLACE" property="meetingPlace" />
		<result column="MEETING_PLACE_DETAIL" property="meetingPlaceDetail" />
		<result column="MOVIE_TITLE" property="movieTitle" />
		<result column="MOVIE_YEAR" property="movieYear" />
		<result column="STATUS" property="status" />
		<result column="MEETING_ENROLL" property="meetingEnrollDate" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEETING_REPORT" property="meetingReport" />
		<result column="MEETING_WRITER" property="meetingWriter" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="boardReply">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BO_REPLY_NO" property="boReplyNo" />
		<result column="BO_REPLY_STATUS" property="boReplyStatus" />
		<result column="BOARD_TYPE" property="boardType" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="BO_REPLY_CONTENT" property="boReplyContent" />
		<result column="BO_REPLY_DATE" property="boReplyDate" />
	</resultMap>

	<resultMap id="commentsListView" type="comments">
		<result column="COMMENT_NO" property="commentNo"/>
		<result column="COMMENT_CONTENT" property="commentContent"/>
		<result column="COMMENT_ENROLLDATE" property="commentEnrollDate"/>
		<result column="SPOILER" property="spoiler"/>
		<result column="MOVIE_TITLE" property="movieTitle"/>
		<result column="MOVIE_YEAR" property="movieYear"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="COMMENT_REPORT" property="commentReport"/>

	</resultMap>
	<resultMap id="collectionResultSet"	type="movieCollection">
		<result column="COLLECTION_NO" property="collectionNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="COLLECTION_ENROLL" property="collectionEnroll" />
		<result column="COLLECTION_TITLE" property="collectionTitle" />
		<result column="COLLECTION_CONTENT" property="collectionContent" />
		<result column="COLLECTION_REPORT" property="collectionReport" />
		<result column="NICK_NAME" property="nickName" />
	</resultMap>
	
	<resultMap type="collectionReply" id="collectionReplyResultSet">
			<result column="CO_REPLY_NO" property="coReplyNo" />
			<result column="CO_REPLY_CONTENT" property="coReplyContent" />
			<result column="CO_REPLY_REPORT" property="coReplyReport" />
			<result column="CO_REPLY_DATE" property="coReplyDate" />
			<result column="CO_REPLY_STATUS" property="coReplyStatus" />
			<result column="MEMBER_NO" property="memberNo" />
			<result column="COLLECTION_NO" property="collectionNo" />
			<result column="NICK_NAME" property="nickName" />
	</resultMap>

	<select id="selectReportMeetingList" resultMap="meetingResultSet">
		SELECT
			MEETING_NO,
			MEETING_TITLE,
			MEETING_ENROLL,
			NICK_NAME AS MEETING_WRITER,
			MEMBER.MEMBER_NO AS MEMBER_NO
		FROM
			MEETING
		JOIN MEMBER ON
			(MEMBER.MEMBER_NO = MEETING.MEMBER_NO)
		WHERE
			MEETING.STATUS = 'N'
	</select>
		<select id="selectMeetingReportCount" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			MEETING
		WHERE
			STATUS = 'N'
	</select>
		<select id="selectReportBoardList" resultMap="boardResultSet">
		select
				board_no,
				board_type,
				board_title,
				nick_name,
				count,
				to_char(enroll_date, 'YYYY-MM-DD') as "ENROLL_DATE",
				origin_name
		 from
				board b
		 join
		 		member on(member_no = board_writer)
		where
				b.status = 'N'
		order
		   by
		   		board_no desc
	</select>
	<select id="selectBoardReportCount" resultType="_int">
	select
			count(*)
	  from
	  		board
	  where
	  		status = 'N'
	</select>

	<update id="increaseSpoBoardReport">
		update
				board
		   set
		   		report_count = report_count + 1
		 where
		  		board_no = #{boardNo}
		   and
		   		board_type = 2
	</update>
		<update id="increaseBoReplyReport">
		update
				board_reply
		   set
		   		bo_reply_report_count = bo_reply_report_count + 1
		 where
		  		bo_reply_no = #{boReplyNo}
	</update>
		<update id="increaseMeetingReport">
		update
				meeting
		   set
		   		meeting_report = meeting_report + 1
		 where
		  		meeting_no = #{meetingNo}
		  		
	</update>
		<update id="increaseCollectionReport">
		update
				collection
		   set
		   		collection_report = collection_report + 1
		 where
		  		collection_no = #{collectionNo}
		  		
	</update>
		<update id="increaseCommentReport">
		update
				comments
		   set
		   		comment_report = comment_report + 1
		 where
		  		comment_no = #{commentNo}
	</update>
		<update id="increaseCollectionReplyReport">
		update
				collection_reply
		   set
		   		co_reply_report = co_reply_report + 1
		 where
		  		co_reply_no = #{coReplyNo}
	</update>	
	<insert id="insertReport" parameterType="report">
		insert
		  into
		  		report
		  		(
					REPORT_NO,
					REPORT_WRITER,
					REPORT_REASON,
					REPORT_DATE,
					REPORT_OCCURED,
					REPORT_TYPE
		  		)
		values
				(
				seq_rno.nextval,
				#{reportWriter},
				#{reportReason},
				   SYSDATE,
				#{reportOccured},
					1
				)
					
	</insert>
	
	<select id="selectReportCount" parameterType="report" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			report 
		WHERE 
			REPORT_WRITER = #{ reportWriter } 
			AND REPORT_OCCURED = #{ reportOccured }
			AND REPORT_TYPE = 1
	</select>

		<update id="sanctionsCollection" parameterType="_int">

		update
				collection
		set
				status = 'N'
		where
				collection_report >= 10			
	</update>
	<update id="sanctionsMeeting" parameterType="_int">

		update
				meeting
		set
				status = 'N'
		where
				meeting_report >= 10			
	</update>
	<update id="sanctionsComments" parameterType="_int">

		update
				comments
		set
				status = 'N'
		where
				comment_report >= 10			
	</update>

	<update id="sanctionsBoReply" parameterType="_int">

		update
				BOARD_REPLY
		set
				BO_REPLY_STATUS = 'N'
		where
				BO_REPLY_REPORT_COUNT >= 10				
	</update>
	<update id="sanctionsCollectionReply" parameterType="_int">

		update
				COLLECTION_REPLY
		set
				CO_REPLY_STATUS = 'N'
		where
				CO_REPLY_REPORT >= 10			
	</update>
	<select id="selectReportBoardReplyCount" parameterType="report" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			report 
		WHERE 
			REPORT_WRITER = #{ reportWriter } 
			AND REPORT_OCCURED = #{ reportOccured }
			AND REPORT_TYPE = 0
	</select>
	<insert id="insertReportBoardReply" parameterType="report">
		insert
		  into
		  		report
		  		(
					REPORT_NO,
					REPORT_WRITER,
					REPORT_REASON,
					REPORT_DATE,
					REPORT_OCCURED,
					REPORT_TYPE
		  		)
		values
				(
				seq_rno.nextval,
				#{reportWriter},
				#{reportReason},
				   SYSDATE,
				#{reportOccured},
					0
				)
					
	</insert>
	<insert id="insertMeetingReport" parameterType="report">
		insert
		  into
		  		report
		  		(
					REPORT_NO,
					REPORT_WRITER,
					REPORT_REASON,
					REPORT_DATE,
					REPORT_OCCURED,
					REPORT_TYPE
		  		)
		values
				(
				seq_rno.nextval,
				#{reportWriter},
				#{reportReason},
				   SYSDATE,
				#{reportOccured},
					3
				)
					
	</insert>
	<select id="reportMeetingCount" parameterType="report" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			report 
		WHERE 
			REPORT_WRITER = #{ reportWriter } 
			AND REPORT_OCCURED = #{ reportOccured }
			AND REPORT_TYPE = 3
	</select>
	<insert id="insertCollectionReport" parameterType="report">
		insert
		  into
		  		report
		  		(
					REPORT_NO,
					REPORT_WRITER,
					REPORT_REASON,
					REPORT_DATE,
					REPORT_OCCURED,
					REPORT_TYPE
		  		)
		values
				(
				seq_rno.nextval,
				#{reportWriter},
				#{reportReason},
				   SYSDATE,
				#{reportOccured},
					4
				)
					
	</insert>
	<select id="reportCollectionCount" parameterType="report" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			report 
		WHERE 
			REPORT_WRITER = #{ reportWriter } 
			AND REPORT_OCCURED = #{ reportOccured }
			AND REPORT_TYPE = 4
	</select>


</mapper>