<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.seeReal.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.seeReal.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.seeReal.board.model.vo.BoardReply" alias="boardReply"/>
		<typeAlias type="com.kh.seeReal.meeting.model.vo.Meeting" alias="meeting"/>
		<typeAlias type="com.kh.seeReal.comments.model.vo.Comments" alias="comments"/>
		<typeAlias type="com.kh.seeReal.comments.model.vo.MovieRating" alias="movieRating"/>
		<typeAlias type="com.kh.seeReal.meeting.model.vo.MeetingUser" alias="meetingUser"/>
		<typeAlias type="com.kh.seeReal.member.model.vo.Cert" alias="cert"/>
		<typeAlias type="com.kh.seeReal.report.model.vo.Report" alias="report"/>
	</typeAliases>
	<!-- ***주의 : 미리 등록을 해두려면 해당 클래스가 존재하고 있는 상태여야함 -->
	
	<!-- 
		environments, dataSource에 기술했던 DB연결정보
		-> DB등록정보는 서버연동과 동시에 이루어져야 하기 때문에
		서버켜짐과 동시에 바로 읽혀지는 파일인 root-context.xml에 기술할 예정
	 -->
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/feed-mapper.xml"/>
		<mapper resource="/mappers/meeting-mapper.xml"/>
		<mapper resource="/mappers/comments-mapper.xml"/>
		<mapper resource="/mappers/report-mapper.xml"/>
		<mapper resource="/mappers/search-mapper.xml"/>
	</mappers>
	<!-- ***주의 : 미리 등록을 해두려면 해당 mapper파일이 진짜 존재하고 있는 생태여야함 + namespace속성까지 작성되어 있어야 함 -->
</configuration>
